body {
  background: orange;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
nav a {
  margin-right: 10px;
}
h5 {
  text-align: center;
}
p {
  text-align: center;
}
